body, html {
    margin:0px;
    padding:0px;
    }
    #maket {
    width:800px;
    margin:0 auto;
    }
    #header{
    background-color:lightblue;
    }
    #left{
    background-color: lightyellow;
    width:200px;
    float:left;
    }
    #content{
    margin-left:202px;
    
    }
    #footer{
    background-color: lightblue;
    clear:both;
    }