*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

 .clear{
     clear:both
 }

.container{
    width: 1296px;
    margin: 0 auto;
}

.header_1{
    width: 1296px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #141414;
}

.text{

width: 449px;
height: 16px;
margin-left: 424px;
padding-top: 12px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.header_2{
    margin-top: 0px;
    width: 1296px;
    height: 72px;
    
}

.header_2{
    border: 1px solid blue;
    background: #C4C4C4;
}
.Logo{
    border: 1px solid green;
    float: left
}

.Logo img{
    padding-left: 68px;
    padding-top: 5px;
    padding-bottom: 7px;
    height: 60px;
}

.Logo span{
    width: 104px;
height: 25px;
left: 130px;
top: 67px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #000000;
letter-spacing: 0.01em;

}
.right{
    border: 1px solid red;
    float:right;
}

.search{
    width: 540px;
    height: 40px;
    border: 1px solid pink;
    float: left;

}

.search img {
    float: left;
}

.categories{
    height: 80px;
}

.images-snow{
    width: 1296px;
    height: 464px;
    background: url(../images/snow.png) no-repeat center center ;
}

.images-snow h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;
padding-top: 128px;
padding-left: 153px;
}

.images-snow h2 {
  
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;
padding-bottom: 258px;
padding-left: 153px;

color: #FFFFFF;
}

